
.boton {
    background-color: var(--ion-color-primary);
    width: 330px;
    height: 50px;
    border-radius: 10px;
}

.boton:hover {
    background-color: var(--ion-color-tertiary) !important;
}
.boton:disabled {
    background-color: #8D8D8D !important;
}

.texto {
    font-size: 20px;
    font-weight: bold;
    color: var(--color);
    text-transform: uppercase;
}

.boton.danger {
    background-color: var(--ion-color-danger);
}
.boton.warning {
    background-color: var(--ion-color-warning);
    color: black;
}
.boton.success {
    background-color: var(--ion-color-success);
}