* {
    font-family: "Inter", sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.requerido {
    color: red;
}

input {
    width: 190px;
    height: 48px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    background-color: #efefef;
    font-size: 20px;
    font-weight: 300;
    color: #545454;
    padding: 5px;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin-left: 14px;
}

.password-input {
    position: relative;
}

.password-input input {
    // padding-right: 30px;
    padding-right: 44px;
    padding-left: 12px;
    /* Ajusta el espacio para el botón */
}

.password-input button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
}

.password-input .icon-izq {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.password-input button i {
    font-size: 16px;
}

.icon {
    font-size: 26px;
    margin: 0 5px;
    color: var(--color);
}
.error {
    //margin: 8px 0 0 0 !important;
    border: 2px solid red;
    background-color: rgba(255, 53, 53, 0.268);
}

.errorTxt {
    font-size: 14px;
    margin: 0 30px 8px 0;
    color: darkred;
    text-align: end;
    font-weight: 700;
}