<div class="contenedor">
  @if (mostarLabel) {
    <label for="input">
      {{label}}
      @if (required) {
        <span class="requerido">  *</span>
      }
    </label>
  }
  
  <div class="password-input">

    <div
      [style]="style"
    >
      @if (icono!=='') {
        <div class="icon-izq">
          <ion-icon class="icon" name="{{icono}}"></ion-icon>
        </div>
      }

      <input #input
        type="{{ showPassword ? 'text' : 'password' }}" 
        [value]="value || ''"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
    
        [placeholder]="placeholder"
        [readonly]="readOnly" 
        [disabled]="disabled" 
        [required]="required" 
        
        style="width: 100%;"

        [ngClass]="{'error': error}"
        
        (input)="onInput($event.target)"
        (blur)="onTouched($event)"
        (focus)="onFocus()"
      >
      <button type="button" (click)="togglePasswordVisibility()">
        @if (showPassword) {
          <ion-icon class="icon" name="eye-off-outline"></ion-icon>
        } @else {
          <ion-icon class="icon" name="eye-outline"></ion-icon>
        }
        
      </button>
    
    </div>
  </div>
  <p class="errorTxt">{{ (error) ? errorTxt : ''}}</p>
</div>