<div class="custom-alert-backdrop" (click)="handleBackdropClick($event)">
  <div class="custom-alert-container" [class]="cssClass" (click)="$event.stopPropagation()">
    @if(title) {
      <div class="custom-alert-header">
        <h2>{{ title }}</h2>
      </div>
    }
    @if(message) {
      <div class="custom-alert-content">
        <p [innerHTML]="message"></p>
      </div>
    }
    
    <div class="custom-alert-buttons">
      @for(button of buttons; track button.text) {
        <ion-button 
          (click)="onButtonClick(button)"
          [class]="button.cssClass || ''"
          [attr.role]="button.role || 'button'">
          {{ button.text }}
        </ion-button>
      }
    </div>
  </div>
</div>