@if (origen==='C') {
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
      <ion-title class="headerTitle">Alerta Persona</ion-title>
    </ion-toolbar>
  </ion-header>
}

<ion-content [fullscreen]="true">

  <div class="container">

    <div class="c-flex">
      <ion-img class="imagenLogo" [src]="appLogo" alt="{{appName}} logo"></ion-img>
    </div>

    <p class="title" >Restablecer Contraseña</p>
    
    @if (origen==='C') {
      <app-password-input
        [formControl]="oldPassword" 
        icono="lock-closed" 
        placeholder="Contraseña Actual"
        [mostarLabel]="false" 
        style="width: 100%; margin: 8px 0;"
      >
      </app-password-input>
    }

    <app-password-input
      [formControl]="password" 
      icono="lock-closed" 
      placeholder="Nueva Contraseña" 
      [mostarLabel]="false" 
      style="width: 100%; margin: 8px 0;"
    >
    </app-password-input>
    <app-password-input
      [formControl]="repitePassword" 
      icono="lock-closed" 
      placeholder="Repetir Contraseña" 
      [mostarLabel]="false" 
      style="width: 100%; margin: 8px 0;"
    >
    </app-password-input>

    <app-general-button (botonClick)="enter()" label="Cambiar Contraseña" style="width: 100%; margin: 34px 0;" ></app-general-button>
    @if (origen!=='C') {
      <div class="volver">
        <a routerLink="/login">Iniciar Sesion</a>
      </div>
    }

  </div>

</ion-content>
